process {
    executor = 'local'   // Usa o executor local
    cache = 'deep'       // Evita re-executar processos já concluídos
    scratch = true       // Usa diretórios temporários para armazenamento
}

executor {
    name = 'local'       // Executor padrão
    queueSize = 100      // Número máximo de processos simultâneos na fila
}

timeline.enabled = false
trace.enabled = false
